.line {
    display: inline-block;
    width: 16px;
    height: 1.5px;
    background-color: oklch(20.5% 0 0);
    border-radius: 50px;
    transition: all 0.3s ease;
}

.pressed .line {
    &:first-child {
        transform: rotate(45deg) translate(4.2px, 3.7px);
    }

    &:nth-child(2) {
        visibility: hidden;
        opacity: 0;
    }

    &:last-child {
        transform: rotate(-45deg) translate(3.5px, -3.5px);
    }
}
