@font-face {
  font-family: StyreneA;
  font-style: normal;
  font-weight: 100 400;
  font-display: swap;
  src: url("./assets/fonts/StyreneA.otf");
}

@import 'tailwindcss';
@import 'swiper/css';

@theme {
  /* FONTS */
  --font-styrene-a: StyreneA, sans-serif;

  /* COLORS */
  --color-white-smoke: #F5F4F4;
  --color-camel: #C6AE9B;
  --color-dusty-blue: #93adbd;
  --color-brown: #895E47;
  --color-olive: #5B8147;
  --color-taupe: #A1877B;
  --color-terracotta: #DA693B;
  --color-red: #C43F40;
  --color-beige: #F2E2D5;
  --color-graphite: #8b8b8b;

  /* FONT SIZES */
  --text100: 11px;
  --leading100: 20px;

  --text300: 13px;
  --leading300: 20px;

  --text400: 15px;
  --leading400: 20px;

  --text500: 16px;
  --leading500: 22px;

  --text600: 18px;
  --leading600: 24px;

  --text900: 24px;
  --leading900: 32px;

  /* CONTAINER */
  --container-max-width: 1400px;
  --container-padding-mobile: 16px;
  --container-padding-desktop: 32px;

  /* Z INDEX */
  --z-base: 0;
  --z-content: 10;

  /* DURATION */
  --duration-button: 300ms;
  --duration-card: 500ms;
}

@layer base {
  html {
    @apply font-styrene-a;
  }
}

@layer components {
  [data-bg-color="black"] {
    --bg: #000;
  }

  [data-bg-color="camel"] {
    --bg: theme(--color-camel);
  }

  [data-bg-color="dusty-blue"] {
    --bg: theme(--color-dusty-blue);
  }

  [data-bg-color="brown"] {
    --bg: theme(--color-brown);
  }

  [data-bg-color="olive"] {
    --bg: theme(--color-olive);
  }

  [data-bg-color="taupe"] {
    --bg: theme(--color-taupe);
  }

  [data-bg-color="terracotta"] {
    --bg: theme(--color-terracotta);
  }

  [data-bg-color="red"] {
    --bg: theme(--color-red);
  }

  [data-bg-color="beige"] {
    --bg: theme(--color-beige);
  }

  [data-bg-color="graphite"] {
    --bg: theme(--color-graphite);
  }
}

@utility container {
  max-width: theme(--container-max-width);
  margin: 0 auto;
  padding-left: theme(--container-padding-mobile);
  padding-right: theme(--container-padding-mobile);
}

@media (min-width: theme(--breakpoint-lg)) {
  .container {
    padding-left: theme(--container-padding-desktop);
    padding-right: theme(--container-padding-desktop);
  }
}
