@font-face {
  font-family: StyreneA;
  font-style: normal;
  font-weight: 100 400;
  font-display: swap;
  src: url("./assets/fonts/StyreneA.otf");
}

@import 'tailwindcss';
@import 'swiper/css';

@theme {
  /* FONTS */
  --font-styrene-a: StyreneA, sans-serif;

  /* FONT SIZES */
  --text100: 11px;
  --leading100: 20px;

  --text300: 13px;
  --leading300: 20px;

  --text400: 15px;
  --leading400: 20px;

  --text500: 16px;
  --leading500: 22px;

  --text600: 18px;
  --leading600: 24px;

  --text900: 24px;
  --leading900: 32px;

  /* CONTAINER */
  --container-max-width: 1400px;
  --container-padding-mobile: 16px;
  --container-padding-desktop: 32px;

  /* Z INDEX */
  --z-base: 0;
  --z-content: 10;

  /* DURATION */
  --duration-button: 300ms;
  --duration-card: 500ms;
}

@utility container {
  max-width: theme(--container-max-width);
  margin: 0 auto;
  padding-left: theme(--container-padding-mobile);
  padding-right: theme(--container-padding-mobile);
}

@media (min-width: theme(--breakpoint-lg)) {
  .container {
    padding-left: theme(--container-padding-desktop);
    padding-right: theme(--container-padding-desktop);
  }
}

html {
  @apply font-styrene-a ;
}